{% load ds_icons %}

<c-vars
  label=""
  placeholder=""
  value=""
  show_label="true"
  optional="false"
  size="md"
  clearable="false"
  error=""
  disabled="false"
  icon_start_name=""
  class_name=""
/>

<div
  x-data="{
    label: '{{ label|default:''|escapejs }}',
    placeholder: '{{ placeholder|default:''|escapejs }}',
    value: '{{ value|default:''|escapejs }}',
    showLabel: '{{ show_label|default:'true'|lower|escapejs }}' !== 'false',
    optional: '{{ optional|default:'false'|lower|escapejs }}' === 'true',
    size: '{{ size|default:'md'|escapejs }}' === 'sm' ? 'sm' : 'md',
    clearable: '{{ clearable|default:'false'|lower|escapejs }}' === 'true',
    error: '{{ error|default:''|escapejs }}',
    disabled: '{{ disabled|default:'false'|lower|escapejs }}' === 'true'
  }"
  x-bind:data-size="size"
  x-bind:data-error="error ? 'true' : 'false'"
  x-bind:data-disabled="disabled ? 'true' : 'false'"
  class="ds-text-field {{ class_name }} {{ attrs.class }}"
  {{ attrs }}
>
  <div class="ds-text-field-label-row" x-show="showLabel && (label || '').length > 0">
    <label class="ds-text-field-label" x-text="label || 'Label'">{{ label }}</label>
    <span class="ds-text-field-optional" x-show="optional">(optional)</span>
  </div>

  <div class="ds-text-field-input-wrapper">
    {% if icon_start_name %}
      <span class="ds-text-field-icon">
        {% ds_icon icon_start_name "ds-text-field-icon-svg" %}
      </span>
    {% endif %}

    <input
      type="text"
      class="ds-text-field-input"
      x-model="value"
      x-bind:placeholder="placeholder || 'Value'"
      x-bind:disabled="disabled"
      x-bind:aria-invalid="error ? true : false"
      @input="$dispatch('ds-text-field-change', { value: value })"
    />

    <button
      aria-label="Clear input"
      class="ds-text-field-clear"
      type="button"
      tabindex="-1"
      x-show="clearable && !disabled && (value || '').length > 0"
      @click="value = ''; $dispatch('ds-text-field-change', { value: value })"
    >
      {% ds_icon "x-clear" "ds-text-field-clear-icon" %}
    </button>
  </div>

  <span class="ds-text-field-error" x-show="(error || '').length > 0" x-text="error">{{ error }}</span>
</div>
