@layer components {
  .ds-badge {
    @apply inline-flex items-center overflow-hidden rounded-4 border border-[0.5px];
    border-color: var(--ds-badge-ring-color);
  }

  .ds-badge[data-type="neutral"] {
    @apply bg-g2 text-status-neutral-1;
    --ds-badge-ring-color: theme(colors.g4);
  }

  .ds-badge[data-type="pending"] {
    @apply bg-y2 text-status-pending-1;
    --ds-badge-ring-color: theme(colors.y4);
  }

  .ds-badge[data-type="info"] {
    @apply bg-status-info-0 text-status-info-1;
    --ds-badge-ring-color: theme(colors.a6);
  }

  .ds-badge[data-type="danger"] {
    @apply bg-status-danger-0 text-status-danger-1;
    --ds-badge-ring-color: theme(colors.d4);
  }

  .ds-badge[data-type="warning"] {
    @apply bg-status-warning-0 text-status-warning-1;
    --ds-badge-ring-color: theme(colors.y4);
  }

  .ds-badge[data-type="success"] {
    @apply bg-status-success-0 text-status-success-1;
    --ds-badge-ring-color: theme(colors.s5);
  }

  .ds-badge[data-type="muted"] {
    @apply bg-status-muted-0 text-status-muted-1;
    --ds-badge-ring-color: theme(colors.g7);
  }

  .ds-badge-main,
  .ds-badge-arrow {
    @apply transition-colors;
  }

  .ds-badge-main {
    @apply flex h-5 cursor-pointer items-center justify-center px-1.5 py-1 text-mini-medium;
  }

  .ds-badge-arrow {
    @apply flex h-5 w-4.5 cursor-pointer items-center justify-center border-l border-l-[0.5px];
    border-left-color: var(--ds-badge-ring-color);
  }

  .ds-badge-main:hover,
  .ds-badge-arrow:hover {
    @apply bg-alpha-2;
  }

  .ds-badge-main:disabled,
  .ds-badge-arrow:disabled {
    @apply cursor-default;
  }

  .ds-badge-main:disabled:hover,
  .ds-badge-arrow:disabled:hover {
    @apply bg-transparent;
  }
}
